{variables, [
	{appid, "mylib"},
	{version, "0.0.1"}
]}.
{file, "shared/Makefile", "Makefile"}.
{file, "shared/rebar.mk", "make/rebar.mk"}.
{file, "shared/gitignore", ".gitignore"}.
{file, "shared/rebar.config", "rebar.config"}.
{file, "shared/shell.sh", "shell.sh"}.
{template, "library-app/myapp.app.src", "src/{{appid}}.app.src"}.
{chmod, 33261, "shell.sh"}.
