{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{cover_print_enabled, true}.

{deps, [
	{cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.0.0"}},
	{revolver, ".*", {git, "git://github.com/bullno1/revolver.git", "HEAD"}},
	{cowboy_reload, ".*", {git, "git://github.com/bullno1/cowboy_reload.git", "HEAD"}}
]}.
